.container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.corpo_calculator {
    background-color: gray;
    border: 2px double yellow;
    border-radius: 5px;
}

.visor_calculator {
    padding: 5px;
}

.numeros_calculator {
    width: 220px;
    height: 200px;
    padding-left: 7px;
    
}

.button {
    width: 50px;
    height: 33px;

}